#tab-outros {
  padding: 15px;

  height: 100%;
}

#tab-outros .tab-title {
  color: black;

  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;

  margin-bottom: 10px;
}

#tab-outros .options-row {
  margin-top: 20px;
}

#tab-outros .some-options {
  border-right: 1px solid #c3c3c3;
  padding-right: 15px;

  margin-right: 10px;
}

#tab-outros .some-options .option-title {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;

  margin-bottom: 10px;
}

#tab-outros .inputs-container {
  display: flex;
}

#tab-outros .checkbox-wrapper {
  display: flex;
  flex-direction: column;

  margin-right: 20px;
}

#tab-outros .checkbox-wrapper label {
  margin-left: 5px;
}

#tab-outros .plot-button {
  color: white;
  background-color: #4ed840;

  margin-top: 10px;
  margin-bottom: 10px;

  width: 100px;

  transition: 0.5s;
}

#tab-outros .plot-button:hover {
  background-color: #3a9e2f;
}

#tab-outros .chart {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.textbox-container {
  
  display: flex;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.export-button {
  color: #4ed840;
  background-color:white;

  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px auto;

  padding: 5px;

  width: 200px;

  border: 1px solid #4ed840;

  border-radius: 5px;

  transition: 0.5s;
}
.export-button2 {
  color: #ca1717;
  background-color:white;

  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px auto;

  padding: 5px;

  width: 200px;

  border: 1px solid #ca1717;

  border-radius: 5px;

  transition: 0.5s;
}
.export-button2:hover {
  background-color: #ca1717;
  color: rgb(0, 0, 0);
}

.export-button:hover {
  background-color: #3a9e2f;
  color: white;
}
